body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
}

.navbar a,
.search-button {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border-radius: 8px;
}

.navbar .logo a {
    font-size: 25px;
    font-weight: 600;
    color: red;
    padding: 10px 17px;
}

.navbar .menu a {
    font-size: 19px;
    font-weight: 500;
    color: red;
    padding: 10px 17px;
}

.navbar .search-input {
    background-color: transparent;
    color: aliceblue;
    border: none;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid aliceblue;
    outline: none;
}

.navbar .search-button {
    padding: 14px 17px;
}

.navbar .search-button button {
    background: none;
    color: red;
    border: none;
    font-size: 18px;
}

.selected-div {
    height: 300px;
    width: 100%;
    background-color: purple;
    display: none;
    /* İlk başta gizli olacak */
}